root = true

[*]
# Unix-style newlines with a newline ending every file
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = tab # matches prettier

[yaml]
indent_size = 2
indent_style = space # yaml cannot use tabs
