defaults: &defaults
  docker:
    - image: 'circleci/node:12.2'
  working_directory: ~/project/vaken
version: 2.1
orbs:
  codecov: codecov/codecov@1.0.4

jobs:
  install:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - 'dependency-cache-{{ checksum "package.json" }}'
            - dependency-cache-
      - run: 'npm i' # might want to use ci for some sort of really aggressive pre-deploy test
      - save_cache:
          key: 'dependency-cache-{{ checksum "package.json" }}'
          paths:
            - node_modules
      - persist_to_workspace:
          root: ~/project
          paths:
            - vaken
  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/project
      - run: 'npm run lint-ci'
      - store_test_results:
          path: ~/project/vaken/reports/lint
  typecheck:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/project
      - run: 'npm run typecheck'  
  audit:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/project
      - run: 'npm audit --audit-level=critical --only=prod'
  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/project
      - run: 
          command: 'npm run test-ci'
      - store_test_results:
          path: ~/project/vaken/reports/test
      - codecov/upload:
          file: coverage/*.json

workflows:
  all:
    jobs:
      - install
      - audit:
          requires:
            - install
      - test:
          requires:
            - install
      - lint:
          requires:
            - install
      - typecheck:
          requires:
            - install