on: pull_request_review
name: Label approved pull requests
jobs:
  labelWhenApproved:
    name: Label when approved
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Label when approved
        uses: pullreminders/label-when-approved-action@master
        env:
          APPROVALS: '1'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LABEL_NAME: approved
